:root {
  --primary-text-color: #757575;
  --title-text-color-dark: #212121;
  --title-text-color-light: #ffffff;
  --accent-primary-color: #2196f3;
  --accent-secondary-color: #f5f4fa;
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border-radius: 0px 0px 4px 4px;
}
body {
  background-color: var(--title-text-color-light);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
header {
  border-bottom: 1px solid #ececec;
}
button {
  border: none;
}
/* Container */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* outline: 1px solid var(--primary-text-color); */
}
/* Section */
section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title {
  margin-bottom: 50px;

  text-align: center;
  color: var(--title-text-color-dark);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* Logo */
.logo {
  color: var(--accent-primary-color);

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo.header {
  margin-right: 93px;
}
.logo.header span {
  color: #000000;
}
.logo.footer span {
  color: var(--title-text-color-light);
}
/* Site navigation */
.header > .container {
  display: flex;
  align-items: center;
  padding-top: 0;
}
.navigation.list {
  display: flex;
}
.navigation .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color-dark);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.navigation > .item {
  margin-right: 50px;
}
.navigation > .item:last-child {
  margin-right: 0;
}
.navigation .link:hover,
.navigation .link:focus {
  color: var(--accent-primary-color);
}
.navigation .link.current {
  color: var(--accent-primary-color);
}
.contacts.list {
  display: flex;
  margin-left: auto;
}
.contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts > .item {
  margin-right: 50px;
}
.contacts > .item:last-child {
  margin-right: 0;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-primary-color);
}
/* Hero */
.hero {
  background-color: #2f303a;
  text-align: center;
}
.hero-title {
  padding-top: 106px;
  padding-bottom: 30px;

  color: var(--title-text-color-light);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Button */
.button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.button.active {
  color: var(--title-text-color-light);
  background-color: var(--accent-primary-color);
}
.button.passive {
  color: var(--title-text-color-dark);
  background-color: var(--accent-secondary-color);
}
.button:hover,
.button:focus {
  color: var(--title-text-color-light);
  background-color: var(--accent-primary-color);
}
.hero .button {
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  margin-bottom: 106px;

  color: var(--title-text-color-light);
  background-color: var(--accent-primary-color);

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
}
/* Benefits */
.benefits .list {
  display: flex;
  justify-content: space-between;
}
.benefits .item {
  width: 270px;
}
.container .benefits {
  padding-top: 0;
  padding-bottom: 0;
}
.benefits .section-title {
  color: var(--title-text-color-light);
}
.benefits > .container {
  padding-top: 8px;
}
.benefits-title {
  margin-bottom: 10px;

  color: var(--title-text-color-dark);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
/* Capabilities */
.capabilities .list {
  display: flex;
  justify-content: space-between;
}
/* Team */
.team-background {
  background-color: var(--accent-secondary-color);
}
.team .list {
  display: flex;
  justify-content: space-between;
}
.member-card {
  border-radius: 0px 0px 4px 4px;

  box-shadow: var(--card-shadow);
  background-color: var(--title-text-color-light);
}
.card-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-title {
  text-align: center;

  color: var(--title-text-color-dark);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-member {
  margin-top: 10px;
  text-align: center;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
/* Portfolio */
.container .portfolio {
  padding-top: 0;
}
.portfolio .section-title {
  color: var(--title-text-color-light);
}
.portfolio > .container {
  padding-top: 8px;
}
.portfolio .list:nth-child(2) {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.button-item {
  margin-left: 8px;
}
.button-item:first-child {
  margin-left: 0;
}
.portfolio .list:nth-child(3) {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.portfolio .item {
  margin-top: 30px;
  margin-left: 30px;
}
.portfolio-title {
  color: var(--title-text-color-dark);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-item {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.card-description {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
/* Footer */
.footer {
  background-color: #2f303a;
}
.footer > .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-address {
  margin-top: 20px;

  color: var(--title-text-color-light);

  font-style: normal;
}
.footer-link {
  display: inline-block;
  margin-top: 9px;

  color: rgba(255, 255, 255, 0.6);

  text-decoration: none;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--title-text-color-light);
}
/* .item * {
  outline: 1px solid var(--accent-primary-color);
} */
